<h2>Por Capital</h2>
<hr>

<div class="row">
  <div class="col">
    <app-pais-input
      [placeholder]="placeholder"
      (searchEnter)="buscar($event)"
      (searchDebounce)="sugerencias($event)">
    </app-pais-input>
  </div>
</div>
<hr>

<div *ngIf="hayError"  class="alert alert-danger">
  <p>No se encontraron resultados para {{termino}}.</p>
  <em class="alert">Error Message: {{errorMessage}}</em>
</div>

<div class="row" *ngIf="paises.length > 0">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
